**Reducing functions in Python**

**maximum and minimum**

In [1]:
l = [5, 8, 6, 10, 9]

In [2]:
_max = lambda a, b : a if a > b else b

In [3]:
def max_sequence(sequence):
    result = sequence[0]
    for i in sequence[1 : ]:
        result = _max(result, i)
    return result

In [4]:
max_sequence(l)

10

In [5]:
_min = lambda a, b : a if a < b else b

In [6]:
def min_sequence(sequence):
    result = sequence[0]
    for i in sequence[1 : ]:
        result = _min(result, i)
    return result

In [7]:
min_sequence(l)

5

In [8]:
def _reduce(fn, sequence):
    result = sequence[0]
    for i in sequence[1 : ]:
        result = fn(result, i)
    return result

In [9]:
#max integer in the list
_reduce(lambda a, b : a if a > b else b, l)

10

In [10]:
#min integer in the list
_reduce(lambda a, b : a if a < b else b, l)

5

In [11]:
from functools import reduce

In [12]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [13]:
print(l)

[5, 8, 6, 10, 9]

In [14]:
#for the max integer
reduce(lambda a,b : a if a > b else b, l)

10

In [15]:
#for the min integer
reduce(lambda a, b : a if a < b else b, l)

5

In [16]:
max(l), min(l)

(10, 5)

In [17]:
sum(l)

38

In [18]:
l = [0, 1, 2]
any(l)    #if there is any true in the list, returns True

True

In [19]:
all(l)     #check if there is any false, returns False

False

In [20]:
l = [0,1,2]
reduce(lambda a, b : bool(a or b), l)

True

In [21]:
l = [0, 0, 0]
reduce(lambda a, b : bool(a and b), l)

False

In [22]:
l = [0, 1, 2]
reduce(lambda a, b: bool(a and b), l)

False

**Product**

In [23]:
def mult(a, b):
    return a * b

In [24]:
l = [1, 2, 3, 4]
reduce(mult, l)

24

In [25]:
reduce(lambda a, b : a * b, l)

24

In [26]:
def fact(n):
    if n <= 1:
        return 1
    else:
        result = 1
        for i in range(2, n+1):
            result *= i
        return result

In [27]:
fact(1), fact(2), fact(3), fact(4), fact(5)

(1, 2, 6, 24, 120)

In [28]:
def fact1(n):
    if n <= 1:
        return 1
    else:
        return n * fact(n-1)

In [29]:
fact1(1), fact1(2), fact1(3), fact1(4), fact1(5)

(1, 2, 6, 24, 120)

In [30]:
n = 5
from functools import reduce
reduce(lambda a, b : a * b, range(1, n + 1))

120

In [31]:
l = [1, 2, 3]
reduce(lambda x, y : x * y, l)

6

In [32]:
help(reduce)    #We can set an initaial value if the list is empty

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [33]:
l = []
reduce(lambda a, b : a * b, l, 1)

1