In [1]:
a = (1, 2, 3)

In [2]:
type(a)

tuple

In [3]:
a = 1,2,3

In [4]:
type(a)

tuple

what defines a tuple is not the () but the commas. The () are just to make it clear that it is a tuple. ofcourse to make an empty typle we can use just ()

In [5]:
a = (1)

In [6]:
type(a)

int

In [7]:
a = (1, )

In [8]:
type(a)

tuple

In [9]:
a = 1,

In [10]:
type(a)

tuple

In [11]:
a = ()

In [12]:
type(a)

tuple

In [13]:
a = tuple()
type(a)

tuple

# Unpacking

In [14]:
l = [1, 2, 3, 4]
a, b, c, d = l
print(a, b, c, d)

1 2 3 4

In [15]:
a , b, c = "XYZ"
print(a, b, c)

X Y Z

# Swapping two variables

In [18]:
a = 10
b = 20
print("a : {0}, b : {1}".format(a, b))

tmp = a
a = b
b = tmp
print("a : {1}, b : {0}".format(a, b))

a : 10, b : 20
a : 10, b : 20

Using unpacking we can simplify it

In [19]:
a = 10
b = 20

print("a : {0}, b : {1}".format(a, b))

a,b = b, a
print("a : {0}, b : {1}".format(a, b))

a : 10, b : 20
a : 20, b : 10

# Unpacking dictionary

In [20]:
dict1 = {'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}
print(dict1)

{'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

In [22]:
dict1

{'p': 1, 'y': 2, 't': 3, 'h': 4, 'o': 5, 'n': 6}

Dictionary (and set) are not sequenced. so the p can be last and the h can be first

In [23]:
for c in dict1:
    print(c)

p
y
t
h
o
n

In [24]:
a,b,c,d,e,f = dict1

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

p
y
t
h
o
n

Note that this order is not always a guarantee. We can use OrderedDict when necessary

The same applies to sets

In [25]:
s = {"p", "y", "t", "h", "o", "n"}

In [26]:
type(s)

set

In the code below we can see a different sequence occured

In [28]:
print(s)

{'o', 't', 'n', 'p', 'h', 'y'}

In [29]:
a, b, c, d, e, f = s

In [32]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

o
t
n
p
h
y